# Ignore all Visual Studio Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local history for Visual Studio Code
.history

# Built Visual Studio Code extensions
*.vsix

# Dependency directory
node_modules

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Log files
npm-debug.log*

# Optional npm cache directory
.npm

# Hardhat files
cache
artifacts
.deps

# Miscellaneous files
build
